:root{
    --blanco :#ffffff;
    --primario:#6cdfee;
    --secundario: #cf8055;
    --semiclaro: rgba(235, 196, 215, 0.788);
    --green_border: rgb(0, 0, 0);
    --red_border:rgb(255, 115, 138);
    --cyan_border:rgb(195, 244, 72);
}

html {
    font-size: 62.5%;
}
body {
    font-size:16px; /* 1rem=10px */
    font-family: 'Dosis', sans-serif;
    background-color: var(--blanco);
}



/*Global*/
h1,h2,h3{
    text-align: center;
    color: var(--blanco);
    font-size: 3rem;
}
p{
 font-size: 2rem;
}


/*Decorations*/
.sombra{
    border-top:.5rem solid var(--semiclaro) ;
    background-color: var(--semiclaro);
    box-shadow: 0px 71px 59px 15px rgba(0,0,0,0.56);
    padding:2rem;
    border-radius: 1rem;
    max-width:100rem;
    margin:10% auto;
    width: auto;
    background-image: linear-gradient(to top, var(--semiclaro) 0%, var(--blanco) 50% );
}
.boton2,
.boton1,
.boton1:hover,
.boton:hover,
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);    
    background-color: var(--secundario);
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem 3rem;
    text-decoration: none;
    margin-top: 2rem;
    text-transform: uppercase;
    border-radius: .5rem;
    height: 4rem;
    width: 100%;
    max-width: 20rem;

}
.boton2:hover{
    background-color: var(--blanco);
    border: .5rem solid var(--secundario);
    padding: .5rem 2.5rem;
    background-color: var(--blanco);
    color: #000;
}
.boton1:hover,
.boton:hover{   
    background-color: var(--primario);
    border: .5rem solid var(--secundario);
    padding: .5rem 2.5rem;
}
.boton1:hover{   
    background-color: var(--blanco);
    color: #000;
}




/*Introduction*/
.titulo {
    font-size: 2.8rem;
    position:fixed;
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.445);
    padding:1rem;
    border-radius:0 .5rem .5rem 0;
    left: 0;
    top: 0;
    padding-right: 150px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 0 auto;
    margin: 1px auto;
}
.intro h1, h2{
    color:#000000;
}

/*Content*/
svg{
    margin-top: 7%;
}
.rd{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}
.rd h1{
    margin: auto;
}
.rd--studies,
.rd--proyects,
.rd--about{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:5rem;
    margin:0 auto;
    background-color: var(--primario);
    border-radius: .5rem;
    width: 20rem;
    height: 20rem;
    margin: 7%;
}
.rd--studies{
    border-top: .5rem solid var(--green_border);
}
.rd--proyects{
    border-top: .5rem solid var(--red_border);
}
.rd--about{
    border-top: .5rem solid var(--cyan_border);
}



/*Contact Form*/
.contacto{
    color:var(--blanco);
    margin: 2% auto;
    width:50%;
    padding:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:0.5rem;
    background-color: #FFFFFF;
}

.contacto p{
    font-size: 2rem;
    color: var(--primario);
    font-weight: bold;
    text-transform: uppercase;
}

/*Responsive*/
@media (min-width: 768px) {
    .sombra{
        max-width: 150rem;
    }
    .rd{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap:1rem;
        margin:0 auto;
        justify-items: center;
        width: 100%;
        max-width: 130rem;
    }
    .rd--studies,
    .rd--proyects,
    .rd--about{
        width: 50%;
        max-width: 70rem;
    }
    .rd--about{
        grid-area: 1 / 1 / 2 / 2;  
    }
    .rd--proyects{
        grid-area: 1 / 2 / 2 / 3;
    }
    .rd--studies{
        grid-area: 1 / 3 / 2 / 4;
    }
    .boton1,
    .boton1:hover,
    .boton:hover,
    .boton{
        max-width: 8rem;
        color: var(--blanco);    
        background-color: var(--secundario);
        width: 100%;
    }
    .boton1:hover,
    .boton:hover{   
        background-color: var(--primario);
        width: 100%;
    }
    .boton2{
        grid-area: 2 / 2 / 3 / 3;
    }
    
    form{
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    label{
        display:flex;
        text-align: center;

    }
    input [type=text]{
        width: 40rem;
    }
    input[type=submit]{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

